a(class='ajax', href='/') index

p= '--- form-id: ' + random + ' ---'

if name
    h1(id='hello')= 'Hello ' + name + '!!'
else
    h1(id='hello')= 'Hello!'

h2= 'Standard form (reload the page)'
form(action='/form', method='get')
    label(for='name') Name:
    input(name='name', id='name', type='text')
    input(type='submit')

h2= 'Ajax form (reload the body)'
form(action='/form', method='get', data-ajax='{}')
    label(for='name') Name:
    input(name='name', id='name', type='text')
    input(type='submit')